[Unit]
Description=Automatic filesystem snapshotter
Documentation=https://github.com/FoobarOy/foosnapper
After=stratisd.service local-fs.target

[Service]
Type=oneshot
ExecStart=foosnapper
IOSchedulingClass=idle
